@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header {
    background: url('../image/green-tea-6078275_1920.jpg') no-repeat center/cover;
    height: 100vh;
}


/* Navbar */





.container {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
   
}

#navbar .logo a {
     text-align: center;
    font-size: 24px;
    padding-top: 10px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(212, 212, 212);
    
 
}

#navbar a {
    text-decoration: none;
    color: rgb(212, 212, 212);
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}

#navbar a:hover {
    color: #fff;
    border-bottom: #fff solid 1px;
    font-size: 20px;
}

.container ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.container ul li {
    margin-left: 20px;
    padding-bottom: 10px;
}

/* mid container */
#container-2{
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    width: fit-content;
}
.mid-container p, .mid-container h1{
 text-align: center;
 padding: 20px;
}
.mid-container h1{
font-size: 2.5rem;
}
.mid-container p{
    display: flex;
    flex-direction: column;
    width:100%;
    color: #f6f6f7;
    font-size: 25px;
   
}

/* Mid-2 container here */
#mid-2{
    align-items: center;
    background: url('/image/bg-2.png') no-repeat center/cover;
    height: fit-content;
}
.mid2__content{
    width: 80%;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.mid2__content .content__paragraphs{
    display: flex;
    flex-direction: column;
    width: 55%;
    align-items: flex-end;
    justify-content: space-between;
    padding-left: 80px;
}

.mid2__content .mid__img{
    margin: auto;
    width: 40%;
}
.mid2__content .mid__img img{
    width:100%;
    margin-left:0;
    border-radius: 3%;
}
.mid2__heading h1{
    font-size: 5rem;
    text-align: center;
    padding-top: 50px;
    font-family: 'Poppins', sans-serif;
}

.content__paragraphs p {
    padding:10px 20px;
    font-size: 20px;
}
.dottedLineDiv{
    border-bottom: 10px dotted ;
    width: 30%;
    margin: 20px auto;
    color: #444;
}

.mid2__content .mid__img img:hover{
    transform: scale(1.03);
}


